<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'home/main.css' %}" media="screen" title="no title" charset="UTF-8" >
    <title>{{item.title}}</title>
</head>
<body>
    <p><a href="{% url 'user:logout' %}">Logout</a>&nbsp&nbsp&nbsp&nbsp<a href="{% url 'home:home' %}">Home</a></p>
    <h1>{{item.title}}</h1>
    <h2>User who added {{item.title}} to their wishlist:</h2>

    {% for wisher in wish %}
        <h3>{{wisher.wisher.name}}</h3>
    {% endfor %}
    
</body>
</html>